<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">World</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="selectedCategory"
   scrollable
   (ionChange)="segmentChanged($event)"
   mode="md" >
    <ion-segment-button [value]="category" *ngFor="let category of categories">
      <ion-label class="ion-text-capitalize">{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-articles [articles]="articles"></app-articles>

<ion-infinite-scroll threshold="25%"  position="bottom" (ionInfinite)="loadData()">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
